{% extends 'blogapp/basic.html' %}
{% block aboutactive %} active {% endblock aboutactive %}
<style>
    p{
        justify-content: center;
    }
</style>
{% block body %}
<center><h1>About us :</h1><br>
<h5 class="text-muted">3 March, 2020 
</h5></center>
<p class="container">Hii my name is "Sayantan" The developer of ICoder.<br>
My journey of making this blog was started one month ago.<br>
I thought to make a blog website for my youtube channel.<br>
But I am not a developer.But I am still wanting to create a website for own,<br>
Then I started to learn about web development and day by day I was learning a lot of things. <br>
My Journey begins with a <b>E-Commerce</b> website, Yes ! you read correctly . It was a E-Commerce website .<br>
I don't have any PC or Laptops so the journey was really very very tough.
but I didn't give up I Wondered to have a successfully Made website .
In those wondering I made the E-Commerce website which name was <b>My Cart</b>. 
But life is not so easy.I failed to make the website after making 90% of the whole Process.
And The website failed Because of the <b>Ajax</b>which is a part of Java Script.
I got a Error of Ajax that the Ajax isin't working in my device.But onr thing the device is not a laptop or any PC that was my mobile.
Yess ! this error was occured because my device has not support any additional Java Script . And google Chrome was also stopped to respond.
When I didn't find any way to solve that .
I moved on . And decided to make a Blog website. And These time I succeed.
And that's why you are reading my journey on <b>ICoder</b>, with me ...</p>
{% endblock %}