{% extends 'blogapp/basic.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% block title %}<title>blog-page</title>{% endblock %}
<style type="text/css" media="all">
    .d-flex{
        justify-content: left;
    }
</style>

{% block body %}
<body>
<center><h1>posts of ICoder:</h1>
{% for post in allPosts %}
<div class="container my-4">
   <div class="row mb-2">
      <div class="col-md-12 ">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
               <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
               <h3 class="mb-0 mr-auto">{{post.title}}</h3>
               <div class="mb-1 ml-auto text-muted">posted on {{post.dateTime}}</div>
               <p class="card-text ml-auto mb-auto">{{post.content|truncatechars:100}}</p>
               <div class="my-2 ml-auto">
               <a href="{{post.slug}}" role="button" class="btn btn-primary">read more</a>
               </div>
            </div>
         </div>
       </div>
   </div>
</div>
{% endfor %}
</body>
{% endblock %}