{% extends 'blogapp/basic.html' %}
{% block title %}<title>contact</title>{% endblock %}
{% block contactactive %} active {% endblock contactactive %}
{% block body %}
{% block messages %}{% endblock %}
{% for message in messages %}
<div class=" mt-1 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message:</strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
<center><h2>Contact ICoder Admin</h2></center>
<hr>
<form action="/contacts/" method="post" class="container my-4">{% csrf_token %}
    <div class=" my-4"><label for="inputName">Your Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
    </div>
    <div class=" mb-4"><label for="inputEmail">Your Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
    </div>
    <div class="form-group">
    <label for="inputPhone">Your Phone Number (with country code)</label>
    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
  </div>
   <div class="form-group">
    <label for="my_content">How May We Help You?</label>
    <textarea class="form-control" id="content" name='content' rows="4"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">submit</button>
</form>
<hr>
{% endblock %}
